@model IEnumerable<MvcDoctoresClienteApi.Models.Doctor>

@{
    ViewData["Title"] = "DoctoresServidor";
}

@{ 
    List<String> especialidades = ViewData["ESPECIALIDADES"] as List<String>;
}

<h1>Doctores Api Servidor C#</h1>

<form method="post">
    <label>Seleccione una especialidad: </label>
    <select name="especialidad" class="form-control">
        @foreach (String espe in especialidades)
        {
            <option value="@espe">@espe</option>
        }
    </select>
    <button type="submit" class="btn btn-outline-info">
        Mostrar doctores
    </button>
</form>

<table class="table table-bordered table-danger">
    <thead>
        <tr>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th>Salario</th>
            <th>Hospital</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital)
            </td>
        </tr>
}
    </tbody>
</table>
